h1 {
    color: rgb(255,255,255, .9);
    text-align: center;
    margin-top: 5.5rem;
    font-weight: lighter;
}
section{
    padding-top: 40px;
    padding-left: 30px;
}
/*---------------------Styling for the filter portion -------------------*/
.filterAndContent {
    display: grid;
    grid-template-columns: 350px auto;
    column-gap: 40px;
}
.filterBackground {
    background-color: rgb(31,31,31);
    padding-top: 1px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-left: -16px;
}
.themeWords {
    color: rgb(141,141,141);
}
/*----------------------Styling for the content within the container begins---------------------------------------*/
.product-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 280px;
    column-gap: 5px;
}
.productBackground {
    background-color: rgb(255,255,255);
    width: 340px;
    height: 250px;
    padding-top: 15px;
}
.imgDesc {
    background-color: rgb(31,31,31);
    padding: .2rem 1rem;
    padding-bottom: 1.3rem;
}
h5, h3 {
    color: rgb(141,141,141);
    font-weight: normal;
}
.images{
    max-width: 250px;
    height: 150px;
    padding-top: 5px;
    padding-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.legoFooterSpacing{
    margin-top: 15rem;
}
/*----------------Button styling ------------------*/
.innerbuttons {
    margin-top: 70px;
    margin-bottom: 70px;
}
.innerbuttons button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 12px;
    background-color: rgb(32,156,238);
    border: none;
    border-radius: 5px;
    font-family: fantasy,'Courier New', Courier, monospace;
    font-size: medium;
}
.innerbuttons button:hover {
    background-color: rgb(32,156,238, .8);
    cursor: pointer;
}
/*-------------Funko Image Styling----------*/
.funkoImages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 210px;
    height: 140px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.funkoFooterSpacing {
    margin-top: 15rem;
}
/*-------------Manga Image Styling & container styling--------------*/
.manga-product-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 320px;
    column-gap: 5px;
}
.mangaImages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    height: 200px;
    padding-top: 5px;
    padding-bottom: 15px;
}
.mangaFooterSpacing {
    margin-top: 15.5rem;
}
/*-------------Action Figure Image Styling & container styling--------------*/
.actionFigure-product-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 50px;
    column-gap: 5px;
}
.actionFigureImages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    height: 160px;
    padding-top: 5px;
    padding-bottom: 15px;
}
.actionFigureProductBackground {
    background-color: rgb(255,255,255);
    width: 340px;
    height: 480px;
    padding-top: 15px;
}
.actionFigureImageDesc {
    background-color: rgb(31,31,31);
    padding: .1rem .5rem;
    height: 15.5rem;
}
.actionFigureFooterSpacing{
    margin-top: 2.5rem;
}
/*---------------Filter Syling for radio buttons--------------*/
.filterDiv {
    display: none;
}
.appear {
    display: block;
}
