html {
    font-family: fantasy,'Courier New', Courier, monospace;
    font-size: larger;
    background-color: rgb(0,0,0);
}
body {
    margin: 0px;
}
/*--------------------Navbar styling---------------------------------*/
.flex-container {
    background-color: rgb(31, 31, 31);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 5;
}
.leftInnerLinks {
    display: none;
}
.headerlogo, #myLinks > a {
    color: rgb(141, 141, 141);
    padding-left: 50px;
    text-decoration: none;
}
#myLinks>a:hover{
    color: rgb(255,255,255);
}
@media screen and (max-width: 824px) {
    .flex-container #myLinks{
        display: none;
    }
    .leftInnerLinks {
        display: block;
    }
    .flex-container #testLinks {
        display: none;
    }
    .burgerDropdown-content {
        display: none;
        position: absolute;
        background-color: rgb(31,31,31);
        min-width: 300px;
        margin-top: 12.4px;
        z-index: 3;
    }
    .burgerDropdown-content a{
        display: block;
        padding: 10px 20px;
    }
   
    .burgerDropdown-content a:hover {
        color: rgb(255,255,255);
    }
}
/*--------------------Drop Down Menu Styling--------------------------*/
.rightHeaderLinks{
    margin-left: 50rem;
}
.dropbtn{
    background-color: rgb(31, 31, 31);
    border: 2px solid rgb(31, 31, 31);
    cursor: pointer; 
    border: 0;
}
.dropbtn:hover{
    background-color: rgb(255, 255, 255);
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(31,31,31);
    min-width: 160px;
    margin-top: 12.4px;
    z-index: 3; 
}
#btnLogout {
    font-family: fantasy, 'Courier New', Courier, monospace;
    font-size: medium;
    color: rgb(141, 141, 141);
    background-color: rgb(31, 31, 31);
    border: 0;
    padding: 12px 16px;
    margin-left: 30px;
}
#btnLogout:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.dropdown-content a {
    color: rgb(141, 141, 141);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover {
    color: rgb(255, 255, 255);
}
.show {
    display:block;
}
/*---------------------Media Queries for the Navbar-------------------------*/
@media screen and (max-width: 1740px){
    .rightHeaderLinks{
        margin-left: 40rem;
    }
}
@media screen and (max-width: 1545px){
    .rightHeaderLinks{
        margin-left: 30rem;
    }
}
@media screen and (max-width: 1355px){
    .rightHeaderLinks{
        margin-left: 20rem;
    }
}
@media screen and (max-width: 1165px){
    .rightHeaderLinks{
        margin-left: 10rem;
    }
}
@media screen and (max-width: 970px){
    .rightHeaderLinks{
        margin-left: 5rem;
    }
}
@media screen and (max-width: 875px){
    .rightHeaderLinks{
        margin-left: 2rem;
    }
}
/*--------------------Footer Styling--------------------------------*/
footer{
    background: linear-gradient(rgb(0,0,0), rgb(31,31,31));
    padding-bottom: 50px;
    padding-left: 4rem;
    padding-right: 4rem;
    min-width: 420px;
    min-height: 300px;
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footerNav{
    padding: 30px;
}
ul, li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li, a {
    font-size: medium;
    text-decoration: none;
    color: rgb(141,141,141);
    padding-bottom: .5rem;
}
li > a:hover{
    color: rgb(255,255,255);
    text-decoration-line: underline;
}
h4{
    color: rgb(250, 250, 250);
    font-weight: lighter;
}
hr { 
    color: rgb(141, 141, 141);
    height: .1rem;
    margin-left: 15rem;
    margin-right: 15rem;
    border-style: inset hidden hidden hidden;
  } 
@media screen and (max-width: 375px) {
    footer{
        min-width: 0px;
    }
}
