
h1{
    text-align: center;
    position: relative;
    top: 140px;
    padding-bottom: 1.5rem;
    color: rgb(255,255,255, .9);
    font-weight: lighter;
}
section{
    display: flex;
    justify-content: center;
}
.form-container{
    background-color: rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 50px;
    margin-top: 150px;
    margin-left: 36rem;
    margin-right: 36rem;    
    border-radius: 10px;
    min-width: 400px;
}
label{
    color: rgb(141,141,141);
    display: block;
}
input[type=email], input[type=password]{
    width: 100%;
    padding: 10px 8px;
    border-radius: 8px;
}
#passwordDesc{
    font-size: small;
    color: rgb(141,141,141);
}
.submitBtn{
    text-align: center;
    padding: 15px
}
input[type=button]{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(32,156,238);
    font-family: fantasy,'Courier New', Courier, monospace;
    font-size: medium;
    border: none;
}
input[type=button]:hover{
    background-color: rgb(32,156,238, .8);
    cursor: pointer;
}
#accountTxt{
    text-align: center;
    color: rgb(255,255,255, .9);
    font-size:smaller;
    padding-bottom: 5rem;
}
#loginTxt{
    color: rgb(32,156,238);
    padding-left: 8px;
}
#loginTxt:hover{
    color: rgb(255,255,255);
    cursor: pointer;
}
@media screen and (max-width: 425px){
    h1 {
        width: 350px;
        margin-left: 10rem;
    }
    section{
        margin-left: 17rem;
    }
    #accountTxt{
        margin-left: 12rem;
        width: 300px;
    }
}
@media screen and (max-width: 375px){
    h1 {
        font-size: xx-large;
        width: 300px;
        margin-left: 2rem;
    }
    section{
        margin-left: .75rem;
    }
    #accountTxt{
        margin-left: 4.5rem;
        width: 250px;
    }
    .form-container{
        min-width: 250px;
        
    }
    footer{
        min-width: 0px;
        min-height: 600px;
    }
}
/*--------------Login Specific Styling--------------------*/
.login-form-container{
    background-color: rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 35px;
    padding-left: 30px;
    padding-right: 50px;
    margin-top: 150px;
    margin-left: 36rem;
    margin-right: 36rem;    
    border-radius: 10px;
    width: 300px;
}
#forgotPass{
    font-size: small;
    color: rgb(141,141,141);
}
#forgotPass:hover{
    color: rgb(255,255,255, .9);
    cursor: pointer;
}
@media screen and (max-width: 375px){
    .login-form-container{
        width: 250px;
        
    }
}